.container {
    border: 2px solid red;
    /* display: flex; */
    height: 40px;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .box {
    width: 100%;
    border: 2px solid red;
    display: inline;
  }
  
  .box-1 {
    width: 100px;
    background-color: red;
  }
  .box-2 {
    width: 100px;
    background-color: green;
  }
  .box-3 {
    width: 100px;
    background-color: yellow;
  }
  .box-4 {
    width: 100px;
    position: absolute;
    background-color: rgb(100, 100, 139);
    right: 0;
    float: right;
  }
  .first-three {
    border: 2px solid yellow;
    width: 600px;
    position: absolute;
    top: 0;
    left: 6;
  }